
/* Estilos header */

.logo {
    max-height:150px; 
    margin-right: 30px;
}

div.idiomas-padre {
    background-color: rgb(0, 96, 137) ;
    padding: 5px 0;
}


.idiomas a{
    color: white;
    text-decoration: none;
    text-align: right;
    margin-left: 5px;
}
.idiomas :nth-child(odd){
    text-decoration: underline;
}
nav{
    background-color: rgb(179, 179, 179);
}

.login{
    margin-left: 10px;
}
/* Estilos generales */
.btn-primary{
    border-color: rgb(0, 96, 137);
    background-color:rgb(0, 96, 137) ;
}
.btn-primary:hover{
    background-color: rgb(1, 78, 110);
    border-color: rgb(1, 78, 110);
    transform: scale(105%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

}
.btn-primary:active{
    background-color: rgb(0, 96, 137) !important;
    border-color: rgb(0, 96, 137) !important;
    /* la unica forma de que me funcione el active ha sido con !important */
}
.btn-outline-primary{
    border-color: rgb(0, 96, 137);
    color: rgb(0, 96, 137);
}
.btn-outline-primary:hover{
    border-color: rgb(0, 96, 137);
    background-color:rgb(0, 96, 137) ;
    transform: scale(105%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.btn-danger{
    border-color: rgb(194, 0, 36);
    background-color: rgb(194, 0, 36);
}
.btn-danger:hover{
    background-color: rgb(165, 1, 31);
    border-color: rgb(165, 1, 31);
    transform: scale(105%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.btn-dark:hover{
    transform: scale(105%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.btn-secondary:hover{
    transform: scale(105%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.nav-link{
    color: rgb(0, 96, 137); 
}
.nav-link:hover{
    color: rgb(1, 78, 110);

}
.page-link{
    color: rgb(0, 96, 137);
}
.page-link.active{
    background-color: rgb(0, 96, 137);
    border-color: rgb(0, 96, 137);
}
/* Estilos landing */
.container-padre{
    background-image: url("../images/fondo-elche.jpg");
    background-size: cover;
    background-position: center;
    min-height: 500px; 
    align-items: center;
    color: white;

}
.container-padre .contenido {
    background: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 10px;
    margin-left: auto;
  }

.contenedor-paginacion{
    background-color: white;
}
.boton-blanco{
    background-color: white;
    color: black;
}
.boton-blanco:hover{
    border-color:white ;
    color: white;
    transform: scale(105%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.testimonial {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.5rem;
}
/* Estilos confirm-delete */
.confirmation-container {
    max-width: 500px;
    margin: 200px auto;
    padding: 30px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

/* Estilos login */
.bg-image {
    
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/fondo-elche.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
.login-container {
    /* background-color: rgba(255, 255, 255, 0.8);  */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
.login-container > h3{
    font-weight: bold;
    color: white;
}
.input-login{
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.boton-login{
    border: solid 1px white;
    border-radius: 50px;
    color: white;
}
.boton-login:hover{
    background-color: white;
    color: black;
}
/* Estilos private landing  */
.card-1{
    border-color:rgb(0, 96, 137) ;
}
.card-2{
    border-color: rgb(194, 0, 36);
}
.card-2 i {
    color: rgb(194, 0, 36);
}
.card-2 a{
    background-color: rgb(194, 0, 36);
    color: white;
}
.card-2 a:hover{
    background-color: rgb(172, 1, 33);
    color: white;
    transform: scale(105%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.card-3{
    border-color: rgb(249, 222, 104);
}
.card-3 i {
    color: rgb(249, 222, 104);
}
.card-3 a{
    background-color: rgb(249, 222, 104);
    color: black;
    border-color: rgb(249, 222, 104);
}
.card-3 a:hover{
    background-color: rgb(235, 209, 93);
    color: black;
    border-color: rgb(235, 209, 93);
    transform: scale(105%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.card-4{
    border-color: rgb(0,98,105);
}
.card-4 i {
    color: rgb(0,98,105);
}
.card-4 a{
    background-color: rgb(0,98,105);
    color: white;
    border-color: rgb(0,98,105);
}
.card-4 a:hover{
    background-color: rgb(0, 75, 80);
    color: white;
    border-color: rgb(0,75,80);
    transform: scale(105%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.card-5{
    border-color: rgb(198,134,23);
}
.card-5 i {
    color: rgb(198,134,23);
}
.card-5 a{
    background-color: rgb(198,134,23);
    color: white;
    border-color: rgb(198,134,23);
}
.card-5 a:hover{
    background-color: rgb(180, 118, 11);
    color: white;
    border-color: rgb(180, 118, 11);
    transform: scale(105%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
} 
.card-6{
    border-color: black;
}
/* Estilos footer */

footer{
    text-align: center;
    background-color:rgb(0, 96, 137) ;
}


